<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ getTitle() }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemForm" (ngSubmit)="save()">
    
    <ion-item>
      <ion-label position="stacked">{{ 'NAME' | translate }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched" class="error">
      <small>{{ 'ERROR_NAME' | translate }}</small>
    </div>

    <ion-item>
      <ion-label position="stacked">{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <div *ngIf="itemForm.get('description')?.invalid && itemForm.get('description')?.touched" class="error">
      <small>{{ 'ERROR_DESCRIPTION' | translate }}</small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="itemForm.invalid">
      {{ isEditing ? 'UPDATE' : 'CREATE' | translate }}
    </ion-button>
  </form>
</ion-content>
