<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditing ? 'Editar Persona' : 'Crear Persona' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="newItem.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="newItem.description" name="description" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      {{ isEditing ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>
</ion-content>
