<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditing ? 'Editar Persona' : 'Crear Persona' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemForm" (ngSubmit)="save()">
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched" class="error">
      <small>Introduce un nombre.</small>
    </div>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <div *ngIf="itemForm.get('description')?.invalid && itemForm.get('description')?.touched" class="error">
      <small>Introduce una descripción.</small>
    </div>

    <ion-button expand="block" type="submit" [disabled]="itemForm.invalid">
      {{ isEditing ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>
</ion-content>
