<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditing ? 'EDIT_RECIPE' : 'CREATE_RECIPE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="recetaForm" (ngSubmit)="save()">
    
    <!-- Campo de Título -->
    <ion-item>
      <ion-label position="stacked">{{ 'TITLE' | translate }}</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>
    
    <!-- Ingredientes -->
    <ion-item>
      <ion-label position="stacked">{{ 'INGREDIENTS' | translate }}</ion-label>
      <ion-button fill="clear" (click)="agregarIngrediente()">+</ion-button>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let ing of ingredientes.controls; let i = index">
        <ion-input [formControl]="getIngredienteControl(i)"></ion-input>
        <ion-button fill="clear" color="danger" (click)="eliminarIngrediente(i)">X</ion-button>
      </ion-item>
    </ion-list>
    
    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <!-- Selección de Chef -->
    <app-chef-selector formControlName="chefId"></app-chef-selector>

    <!-- Subida de Imagen -->
    <ion-item>
      <ion-label>{{ 'IMAGE' | translate }}</ion-label>
      <input type="file" (change)="seleccionarImagen($event)">
    </ion-item>

    <ion-img *ngIf="imagenPreview" [src]="imagenPreview" alt="Vista previa"></ion-img>

    <!-- Botón Guardar -->
    <div class="modal-footer">
      <ion-button expand="block" type="submit" [disabled]="recetaForm.invalid">
        {{ isEditing ? 'UPDATE' : 'CREATE' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
