<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- Campo de correo -->
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
            <small>Introduce un correo válido.</small>
          </div>

          <!-- Campo de contraseña -->
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
            <small>Introduce tu contraseña.</small>
          </div>

          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
        </form>
        <ion-button expand="block" color="secondary" [routerLink]="'/register'">
          ¿No tienes cuenta? Regístrate
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
