<ion-content class="about-container">
  <div class="about-wrapper">
    <!-- Contenedor Principal con animación -->
    <div class="about-content animate-fade-in">
      
      <!-- Imagen de perfil con borde animado -->
      <div class="profile-container">
        <img src="assets/images/about.jpeg" alt="Tu Foto" class="profile-img" />
      </div>

      <!-- Información Personal -->
      <h1 class="about-title">{{ 'ABOUT' | translate }}</h1>
      <p class="about-description">{{ 'ABOUT_D' | translate }}</p>

      <!-- Icono de GitHub -->
    <a href="https://github.com/cgilsanchez" target="_blank" class="github-link">
      <ion-icon name="logo-github"></ion-icon>
    </a>


    </div>
  </div>
</ion-content>
