    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    ion-card {
        max-width: 400px;
        width: 100%;
        padding: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    ion-card-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .error {
        color: var(--ion-color-danger);
        font-size: 0.85rem;
        margin-top: 4px;
    }
    ion-item {
        display: flex;
        align-items: center; /* Asegura la alineación vertical */
        position: relative;
    }
    
    ion-button.eye-button {
        position: absolute;
        right: 10px; /* Ajusta la posición horizontal si es necesario */
        height: 20px; /* Asegura que el botón tenga una altura acorde */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2px; /* Ajusta este valor para bajarlo ligeramente */
    }
    