<ion-content class="ion-padding">
  <div class="auth-container">
    <!-- Imagen de perfil en la parte superior -->
    <div class="auth-logo">
      <img src="assets/images/recipe-logo.webp" alt="User Logo" />
    </div>

    <h1 class="auth-title">Iniciar Sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        <small>Introduce un correo válido.</small>
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'"></ion-input>
        <ion-button fill="clear" slot="end" (click)="isPasswordVisible = !isPasswordVisible">
          <ion-icon [name]="isPasswordVisible ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        <small>Introduce tu contraseña.</small>
      </div>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </ion-button>

      <ion-button expand="block" fill="outline" color="secondary" routerLink="/register">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </form>
  </div>
</ion-content>
