<ion-app>
  <app-splash *ngIf="showSplash"></app-splash> <!-- 🔥 Splash Screen -->

  <!-- 🔥 Barra de navegación fija en todas las páginas -->
  <ion-header *ngIf="isAuthenticated && showToolbar">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>{{ 'WELCOME' | translate }}</ion-title>

      <ion-buttons slot="end">
        
        <div class="language-profile" (click)="toggleLanguageMenu()">
          <ion-icon name="globe-outline"></ion-icon>
          <span>{{ currentLanguage === 'es' ? 'Idioma' : 'Language' }}</span>
          <ion-icon *ngIf="showLanguageMenu" name="caret-up-outline"></ion-icon>
          <ion-icon *ngIf="!showLanguageMenu" name="caret-down-outline"></ion-icon>
        </div>

        
        <div class="user-profile" (click)="toggleDropdown()">
          <img src="assets/images/cocinero.png" alt="Usuario" class="user-icon" />
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
  <div class="dropdown language-dropdown" *ngIf="showLanguageMenu">
    <p class="dropdown-title">{{ 'SELECT_LANGUAGE' | translate }}</p>
    <ion-item button (click)="changeLanguage('en')">
      <ion-label>English</ion-label>
    </ion-item>
    <ion-item button (click)="changeLanguage('es')">
      <ion-label>Español</ion-label>
    </ion-item>
  </div>

  <!-- 🔥 Menú desplegable al hacer clic en la imagen del usuario -->
  <div class="dropdown" *ngIf="showDropdown">
    <p class="user-name">{{ user?.displayName || 'Usuario' }}</p>
    <p class="user-email">{{ user?.email }}</p>
    <ion-button expand="full" color="danger" (click)="logout()">
      {{ 'LOGOUT' | translate }}
    </ion-button>
  </div>

  <!-- 🔥 Menú lateral -->
  <ion-menu *ngIf="isAuthenticated" contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>{{ 'MENU' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          {{ 'CHEFS' | translate }}
        </ion-item>
        <ion-item routerLink="/recetas" routerDirection="root">
          <ion-icon slot="start" name="restaurant-outline"></ion-icon>
          {{ 'RECIPES' | translate }}
        </ion-item>
        <ion-item routerLink="/favoritos" routerDirection="root">
          <ion-icon slot="start" name="heart-outline"></ion-icon>
          {{ 'FAVORITES' | translate }}
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          {{ 'LOGOUT' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>



</ion-app>
