<ion-content class="ion-padding">
  <div class="favoritos-container">
    <div *ngIf="recetasFavoritas.length === 0" class="no-favorites">
      <p>{{ 'FAVORITES' | translate }}</p>
    </div>

    <div class="grid-favoritos">
      <ion-card 
        *ngFor="let receta of recetasFavoritas" 
        class="receta-card" 
        (click)="openDetailModal(receta)">  <!-- 🔥 Ahora abre el modal -->
        
        <img *ngIf="receta.imagenUrl" [src]="receta.imagenUrl" alt="Imagen de la receta" class="receta-img" />

        <ion-card-header>
          <ion-card-title class="receta-titulo">
            {{ receta.titulo }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p><strong>{{ 'CHEF' | translate }}:</strong> {{ receta.chefNombre }}</p>
        </ion-card-content>
        
      </ion-card>
    </div>
  </div>
</ion-content>
