.favoritos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px; // 🔥 Agrega espacio para bajar las recetas
}

.titulo {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.grid-favoritos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
}

.receta-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background: white;
}

.receta-card:hover {
  transform: scale(1.05);
}

.receta-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}



.descripcion {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  text-align: center;
}

.no-favorites {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 50px;
}

.receta-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #ffc107; /* Color amarillo para destacar */
  color: #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


