<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2 class="titulo">Lista de Recetas</h2>

    <div *ngIf="recetas.length === 0">
      <p>No hay recetas disponibles.</p>
    </div>

    <!-- Grid de recetas -->
    <div class="grid-container">
      <ion-card *ngFor="let receta of recetas" class="receta-card" (click)="openDetailModal(receta)">
        <img *ngIf="receta.imagenUrl" [src]="receta.imagenUrl" alt="Imagen de la receta" class="receta-img" />


        <ion-card-header>
          <ion-card-title class="receta-titulo">
            {{ receta.titulo }}
            <ion-icon 
              [name]="receta.esFavorito ? 'star' : 'star-outline'"
              [class.favorito]="receta.esFavorito"
              (click)="toggleFavorito(receta, $event)">
            </ion-icon>
          </ion-card-title>
        </ion-card-header>


        <ion-card-content>
          <p><strong>Chef:</strong> {{ receta.chefNombre }}</p>
          <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
          <p><strong>Ingredientes:</strong></p>
          <ul>
            <li *ngFor="let ingrediente of receta.ingredientes">{{ ingrediente }}</li>
          </ul>
        </ion-card-content>

        <ion-row class="btn-container">
          <ion-col>
            <ion-button expand="full" color="secondary" (click)="openEditModal(receta); $event.stopPropagation()">Editar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" (click)="deleteReceta(receta.id); $event.stopPropagation()">Eliminar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

  <!-- Botón flotante para agregar recetas -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="openCreateModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
