<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>{{ 'RECIPE_LIST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2 class="titulo">{{ 'RECIPE_LIST' | translate }}</h2>

    <div *ngIf="recetas.length === 0">
      <p>{{ 'NO_RECIPES' | translate }}</p>
    </div>

    <!-- Grid de recetas -->
    <div class="grid-container">
      <ion-card *ngFor="let receta of recetas" class="receta-card" (click)="openDetailModal(receta)">
        <div class="image-container">
          <img *ngIf="receta.imagenUrl" [src]="receta.imagenUrl" alt="Imagen de la receta" class="receta-img" />
          
          <!-- 🔥 Estrella flotante en la esquina superior derecha -->
          <div class="favorito-icon" (click)="toggleFavorito(receta, $event)">
            <ion-icon 
              [name]="receta.esFavorito ? 'star' : 'star-outline'"
              [class.favorito]="receta.esFavorito">
            </ion-icon>
          </div>
        </div>
      
        <ion-card-header>
          <ion-card-title class="receta-titulo">
            {{ receta.titulo }}
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p><strong>{{ 'CHEF' | translate }}:</strong> {{ receta.chefNombre }}</p>
        </ion-card-content>
      
        <ion-row class="btn-container">
          <ion-col>
            <ion-button expand="full" color="secondary" (click)="openEditModal(receta); $event.stopPropagation()">
              <ion-icon slot="start" name="create-outline"></ion-icon>{{ 'EDIT' | translate }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" (click)="deleteReceta(receta.id); $event.stopPropagation()">
              <ion-icon slot="start" name="trash-outline"></ion-icon>{{ 'DELETE' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
    </div>
  </div>

  <!-- Botón flotante para agregar recetas -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="openCreateModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
