<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{ 'RECIPE_DETAILS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="detalle-receta-container">
  <!-- Imagen destacada -->
  <div class="imagen-container">
    <img *ngIf="receta.imagenUrl" [src]="receta.imagenUrl" alt="{{ 'RECIPE_IMAGE' | translate }}" class="detalle-img" />
  </div>

  <!-- Contenido de la receta -->
  <div class="contenido-detalle">
    <h1 class="titulo-receta">{{ receta.titulo }}</h1>
    <p class="chef-nombre">
      <ion-icon name="person-circle-outline"></ion-icon> {{ 'CHEF' | translate }}: {{ receta.chefNombre }}
    </p>
    <div class="ingredientes-container">
      <h3><ion-icon name="list-outline"></ion-icon> {{ 'INGREDIENTS' | translate }}:</h3>
      <ul>
        <li *ngFor="let ingrediente of receta.ingredientes">
          <ion-icon name="leaf-outline"></ion-icon> {{ ingrediente }}
        </li>
      </ul>
    </div>
    <p class="descripcion">
      <ion-icon name="book-outline"></ion-icon> {{ receta.descripcion }}
    </p>

    <div class="share-container">
      <ion-button (click)="shareReceta()" expand="full" color="primary">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </div>

    <div class="export-container">
  <ion-button (click)="descargarCSV()" expand="full" color="tertiary">
    <ion-icon slot="start" name="download-outline"></ion-icon>
  </ion-button>
</div>

  </div>
</ion-content>
