    .detalle-receta-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .imagen-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }
    
    .detalle-img {
        width: 80%;
        max-width: 400px;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }
    .detalle-img {
        opacity: 0;
        animation: fadeIn 0.8s ease-in-out forwards;
    }
        .share-container {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        
        ion-button {
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
        }
        
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    
    .detalle-img:hover {
        transform: scale(1.05);
    }
    
    
    
    .contenido-detalle {
        padding: 20px;
    }
    
    .titulo-receta {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .chef-nombre {
        text-align: center;
        font-size: 18px;
        color: #666;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .chef-nombre ion-icon {
        margin-right: 5px;
    }
    
    .descripcion {
        font-size: 16px;
        line-height: 1.5;
        color: #444;
        padding: 15px;
        border-radius: 8px;
        background: #fdf2d2;
        margin: 10px 0;
    }
    
    .ingredientes-container {
        margin-top: 20px;
    }
    
    .ingredientes-container h3 {
        font-size: 18px;
        color: #333;
    }
    
    .ingredientes-container ul {
        padding-left: 20px;
    }
    
    .ingredientes-container li {
        font-size: 16px;
        color: #555;
        margin: 5px 0;
        display: flex;
        align-items: center;
    }
    
    .ingredientes-container ion-icon {
        margin-right: 8px;
        color: #28a745;
    }
    