/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";



/* Definir colores globales */
:root {
    --primary-color: #ff9800; /* Naranja principal */
    --secondary-color: #ffcc80; /* Naranja claro */
    --background-color: #ffffff; /* Blanco */
    --text-color: #333; /* Texto oscuro */
  }
  
  /* Estilo global para IonToolbar */
  ion-toolbar {
    --background: var(--primary-color);
    --color: white;
  }
  
  /* Estilo global para el contenido */
  ion-content {
    --background: var(--background-color);
  }
  
  /* Botones principales */
  ion-button {
    --background: var(--primary-color);
    --color: white;
    --border-radius: 10px;
  }
  
  /* Estilo para el menú */
  ion-menu {
    --width: 260px;
    --background: white;
  }
  
  ion-menu ion-header {
    --background: var(--primary-color);
    --color: white;
  }
  
  /* Estilos generales para los títulos */
  ion-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Tarjetas */
  ion-card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  ion-card-title {
    font-size: 18px;
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: #666;
  }
  
  /* Floating Action Button (FAB) */
  ion-fab-button {
    --background: var(--primary-color);
  }
  